<div class="well text-center">
  <% @pages.each do |page| %>
    <%= image_tag page.image_url(:thumb).to_s %>
    <p><h2><%= page.story %></h2></p>
    <% page.questions.each do |question| %>
      <%= question.name %>
    <% end %>

  <% end %>

  <%= will_paginate @pages %><br>

  <%= link_to 'New Page', new_book_page_path(@book) %>

</div>
