<div class="well text-center fadeFast">
  <% @pages.each do |page| %>
    <%= image_tag page.image_url.to_s, class: "img-responsive"%>
    <p><h3><%= page.story %></h3></p>
    <%= audio_tag("https://s3-us-west-2.amazonaws.com/little-programmers/audios/"+ page.book.id.to_s + "-" + page.id.to_s + ".mp3", autoplay: true, controls: false) %>
    <% page.questions.each do |question| %>
      <p><h2><%= question.name %></h2></p>
      <div class='row'>
      <% question.answers.each do |answer| %>
          <div class='col-lg-4 text-center'>
            <% if answer.correct %>
              <%= image_tag "#{answer.question.id.to_s}_#{answer.id.to_s}.png", class: "img-responsive", onclick: "rightAnswer()"%>
            <% else %>
              <%= image_tag "#{answer.question.id.to_s}_#{answer.id.to_s}.png", class: "img-responsive", onclick: "wrongAnswer()" %>
            <% end %>
          </div>
      <% end %>
      </div>
    <% end %>
    <% if page.questions.length == 0 %>
      <h3><%= will_paginate @pages %></h3><br>
    <% end %>
  <% end %>
  <%= link_to 'Back To The Menu', books_path %>
</div>
