<div class="well text-center">
  <% @pages.each do |page| %>
    <%= image_tag page.image_url.to_s %>
    <p><h3><%= page.story %></h3></p>
    <% page.questions.each do |question| %>
      <p><%= question.name %></p>
      <% question.answers.each do |answer| %>
        <p><%= answer.name %></p>
      <% end %>
    <% end %>

  <% end %>

  <%= will_paginate @pages %><br>

  <%= link_to 'New Page', new_book_page_path(@book) %>

</div>
